services:
    -
        class: Happenv\LaravelTrueModular\Phpstan\DynamicRelationResolver\DynamicRelationMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: Happenv\LaravelTrueModular\Phpstan\DynamicRelationResolver\DynamicRelationPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
