services:
    -
        class: Happenv\LaravelTrueModular\Phpstan\ModuleBoundaryEnforcer\ModuleBoundaryRule
        arguments:
            baseDir: %currentWorkingDirectory%
        tags:
            - phpstan.rules.rule

    -
        class: Happenv\LaravelTrueModular\Phpstan\ModuleBoundaryEnforcer\ModuleBoundaryClassReferenceRule
        arguments:
            baseDir: %currentWorkingDirectory%
        tags:
            - phpstan.rules.rule

    -
        class: Happenv\LaravelTrueModular\Phpstan\ModuleBoundaryEnforcer\CircularDependencyCollector
        tags:
            - phpstan.collector

    -
        class: Happenv\LaravelTrueModular\Phpstan\ModuleBoundaryEnforcer\CircularDependencyRule
        arguments:
            baseDir: %currentWorkingDirectory%
        tags:
            - phpstan.rules.rule
